caption {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.timeTable {
    clear: both;
}
.col2of4 {
    width: 45%;
    float: left;
    zoom: 1;}
@media(max-width:768px){
    .col2of4{width: 100%;}
}
.tableBox{
    margin: 0 10px;
}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}
th,td {
    border: 1px solid #fff;
}
th {
    width: 70px;
    font-size:12px;
    color: #fff;
    text-align: center;
    background-color: #2C3E5C;
    vertical-align: top;
}
td {
    height: 25px;
    padding: 0 10px;
    font-size: 14px;
    text-align: center;
    background: #f3f4ef;
}
.borderNone {
    border-bottom: 1px solid #2C3E5C;
}
.tableBox th.just {
    padding-top: 7px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
}
.color01{
    background: #ff6c6d;
}
.color02 {
    background: rgba(166, 197, 255, 0.69);
}
.line2 {
    height: 51px;
}
.line3 {
    height: 77px;
}